doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel='stylesheet', href='dist/css/docs.css')
		title Tailor
	body
		.Page
			header.Page-header
				h1.Logo
					a(href="index.html") Tailor
			nav.Page-nav
				include inc/nav.pug
			main.Page-main
				noscript This page requires javascript which is currently disabled in your browser
				block primary

		script(src="dist/js/docs.js")
