// Primary colors
@color-primary-lighter: #43999D;
@color-primary-light: #43999D;
@color-primary: #29878B;
@color-primary-dark: #0e5e62;
@color-primary-darker: #054245;

// Secondary colors
@color-secondary-lighter: #FFCF6C;
@color-secondary-light: #FFCF6C;
@color-secondary: #E6B143;
@color-secondary-dark: #CE941D;
@color-secondary-darker: #A2710B;

// Neutral colors
@color-neutral-lightest: lighten(@color-neutral, 50%);
@color-neutral-lighter: lighten(@color-neutral, 20%);
@color-neutral-light: lighten(@color-neutral, 15%);
@color-neutral: #aaa;
@color-neutral-dark: darken(@color-neutral, 15%);
@color-neutral-darker: darken(@color-neutral, 40%);
@color-neutral-darkest: darken(@color-neutral, 50%);

// Alert/message colors
@color-alert-neutral: #00a8f7;
@color-alert-positive: #47b04a;
@color-alert-ambiguous: #f5a800;
@color-alert-negative: #f6412d;
