.Color {
	margin-bottom: $space-xs;

	&:before {
		content: '';
		display: inline-block;
		width: 30px;
		height: 30px;
		vertical-align: middle;
		margin-right: $space-sm;
		outline: 1px solid opacify(#000, .2);
	}
}

.Color--primary-lighter:before {	background-color: $color-primary-lighter; }
.Color--primary-light:before {	background-color: $color-primary-light; }
.Color--primary:before {	background-color: $color-primary; }
.Color--primary-dark:before {	background-color: $color-primary-dark; }
.Color--primary-darker:before {	background-color: $color-primary-darker; }

.Color--secondary-lighter:before {	background-color: $color-secondary-lighter; }
.Color--secondary-light:before {	background-color: $color-secondary-light; }
.Color--secondary:before {	background-color: $color-secondary; }
.Color--secondary-dark:before {	background-color: $color-secondary-dark; }
.Color--secondary-darker:before {	background-color: $color-secondary-darker; }

.Color--white:before {	background-color: $color-white; }
.Color--neutral-lighter:before {	background-color: $color-neutral-lighter; }
.Color--neutral-light:before {	background-color: $color-neutral-light; }
.Color--neutral:before {	background-color: $color-neutral; }
.Color--neutral-dark:before {	background-color: $color-neutral-dark; }
.Color--neutral-darker:before {	background-color: $color-neutral-darker; }
.Color--black:before {	background-color: $color-black; }

.Color--message-info:before {	background-color: $color-message-info; }
.Color--message-success:before {	background-color: $color-message-success; }
.Color--message-warning:before {	background-color: $color-message-warning; }
.Color--message-error:before {	background-color: $color-message-error; }
