.Nav {
	padding: 0;
	display: none;
	padding-bottom: $space-md;

	@include bp(md) {
		display: block;
	}

	a {
		display: block;
		text-decoration: none;
		padding: $space-xs $space;
		font-size: .9em;

		&:hover,
		&:focus,
		&.is-active {
			background-color: opacify($color-neutral-lighter, .15);
		}

		&.is-active {
			border-right: 4px solid $color-primary;
			color: $color-primary;
		}
	}

	.is-visible & {
		display: block;
	}

	.Nav-github {
		position: absolute;
		bottom: 0;
		height: $space-md;
		left: 0;
		padding: 0 $space;
		line-height: $space-md;
		background-color: #d8dfe5;
		width: 100%;
	}
}

.Nav-handle {
	display: block;
	border: none;
	background-color: transparent;
	text-align: left;
	outline: none;
	position: absolute;
	top: 1.5rem;
	right: $space;

	svg {
		fill: $color-primary;
	}

	@include bp(md) {
		display: none;
	}
}
