.Page {
	display: flex;
	flex-direction: column;

	@include bp(md) {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		flex-direction: row;
	}
}

.Page-title {
	padding: 1rem $space;
	color: $color-primary;
	font-size: 1.5em;
	font-weight: 300;
	margin: 0;

	a {
		text-decoration: none;
		color: inherit;
	}
}

.Page-nav {
	background-color: $color-white;
	position: relative;
	border-bottom: 1px solid $color-neutral-light;

	@include bp(md) {
		flex: 0 0 200px;
		border-bottom: none;
		border-right: 1px solid $color-neutral-light;
	}

	@include bp(lg) {
		flex: 0 0 300px;
	}
}

.Page-main {
	flex: 1;
	padding: $space;
	overflow: auto;
	padding-bottom: $space-md;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		pointer-events: none;
		background-color: #f7f7f7;
		z-index: 100;
		opacity: 0;
		transition: opacity .2s;
		transition-delay: .3s;
	}

	&:after {
		position: absolute;
		top: 40%;
		left: 0;
		right: 0;
		content: 'Loading';
		font-weight: 300;
		text-align: center;
		border-radius: 4px;
		text-transform: uppercase;
		z-index: 101;
		transition: opacity .2s, transform .2s;
		transition-delay: .3s;
		font-family: 'Ubuntu', sans-serif;
		font-weight: bold;
		opacity: 0;
	}

	&.is-fetching {
		&:before {
			opacity: 1;
		}

		&:after {
			opacity: 1;
		}
	}
}

.Page-footer {
	position: fixed;
	bottom: 0;
	height: $space-md;
	left: 0;
	padding: 0 $space;
	line-height: $space-md;
	background-color: #d8dfe5;
	width: 100%;

	@include bp(md) {
		width: 200px;
	}

	@include bp(lg) {
		width: 300px;
	}
}

.DocTitle {
	color: $color-neutral;
	text-transform: uppercase;
	font-style: italic;
	font-size: .9rem;
	margin: 1em 0;
}
