@import '../../../src/less/screen.less';

.Logo {
	font-size: 1.8em;
	text-transform: uppercase;
	margin: 0 @space-sm @space;

	a {
		text-decoration: none;
		color: inherit;
	}
}

.Page-navigation {
	background-color: @color-neutral-darkest;
	color: @color-neutral-lightest;
	padding: @space-sm 0;

	@media @mq-md {
		width: 12em;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
	}

	.Nav {
		a {
			display: block;
			color: currentColor;
			text-decoration: none;
			padding: .5em @space-sm;
			transition: color .2s, transform .2s;

			&.is-active {
				color: @color-primary-lighter;
				transform: translateX(@space-xs);
			}
		}
	}

	.Nav-indicator {
		position: absolute;
    top: 0;
    width: 5px;
    height: 0;
    background-color: @color-primary-lighter;

		&.is-active {
			transition-property: height, transform;
			transition-duration: 400ms;
			transition-timing-function: cubic-bezier(.4,.3,0,1.01);
		}
	}
}

.Page-content {
	padding: @space;
	position: relative;

	@media @mq-md {
		margin-left: 12em;
	}

	&:before,
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		pointer-events: none;
	}

	&:before {
		bottom: 0;
		content: '';
		background-color: #fff;
		z-index: 100;
		opacity: 0;
		transition: opacity .2s;
		transition-delay: .3s;
	}

	&:after {
		content: 'Loading...';
		text-align: center;
		padding: 1em;
		background-color: @color-primary-lighter;
		color: #fff;
		font-size: .9em;
		z-index: 101;
		opacity: 0;
		transform: translateY(-100%);
		transition: opacity .2s, transform .2s;
		transition-delay: .5s;
	}

	&.is-fetching {
		&:before {
			opacity: 1;
		}

		&:after {
			opacity: 1;
			transform: translateY(0);
		}
	}

	.Grid {
		position: relative;
		margin-bottom: @space;
	}

	.Grid-cell:before {
		content: attr(class);
		display: block;
		padding: 5px 10px;
		font-size: .8em;
		transition-duration: .2s;
		box-sizing: inherit;
		background-color: rgba(37, 49, 62, 0.1);
		color: rgba(37, 49, 62, 0.6);
	}

	.Grid--alignMiddle,
	.Grid--alignBottom {
		.Grid-cell:first-child:before {
			height: 80px;
		}
	}
}

.DocTitle {
	color: @color-neutral;
	text-transform: uppercase;
	font-style: italic;
	font-size: .9rem;
}
