- var items = ["Grid", "Typography", "Form elements", "Form inline", "Form radios", "Tables", "Lists", "Messages", "Buttons"]
.Nav
	for item in items
		a(href=item.toLowerCase().replace(' ', '-') + '.html')= item
