.Grid {
	position: relative;
}

.Grid-cell:before {
	content: attr(class);
	display: block;
	padding: 5px 10px;
	font-size: .8em;
	transition-duration: .2s;
	box-sizing: inherit;
	background-color: rgba(37, 49, 62, 0.1);
	color: rgba(37, 49, 62, 0.6);
}

.Grid--alignMiddle,
.Grid--alignBottom {
	.Grid-cell:first-child:before {
		height: 80px;
	}
}


.Grid--spacedVertically {
	@include GridY();
}

.Grid--spacedHorizontally {
	@include GridX();
}

.Grid--spacedSm {
	@include GridXY($space-sm);
}

.Grid--spacedXs {
	@include GridXY($space-xs);
}


.CSSGrid {
	@include CSSGrid(2, $space);
}
