.Page {
	@include bp(md) {
		display: grid;
		grid-template-columns: 15rem auto;
	}
}

.Page-nav {
	background-color: $color-black;
	color: $color-white;

	h1 {
		padding: $space-sm $space;
		margin: 0;
	}

	a {
		text-decoration: none;
	}

	nav {
		a {
			display: block;
			padding: $space-xs $space;
			color: inherit;
			font-weight: bold;
			border-left: 3px solid transparent;

			&:hover,
			&:focus {
				color: $color-secondary;
			}

			&.is-active {
				color: $color-secondary;
				border-color: $color-secondary;
			}
		}
	}
}

.Page-main {
	height: 100vh;
	overflow: auto;
	padding: $space;
	border-left: 1px solid $color-neutral-light;
}
