.Button {
	display: inline-block;
	box-sizing: border-box;
  padding: .9em 1.5em;
	text-decoration: none;
	text-align: center;
	line-height: 1.1;
	margin: 0 .2em;
	border: none;
	background-color: @color-primary;
	color: @color-neutral-lightest;
	font-size: .9em;

	&:visited, {
		color: @color-neutral-lightest;
	}

	&:hover, &:focus {
		background-color: @color-primary-dark;
	}
}
