extends layout/default.pug
block primary

	h3.DocTitle Buttons
	p
		a.Button Default
		a.Button.Button--secondary Secondary
		a.Button.Button--neutral Neutral

	h3.DocTitle Button elements
	p
		a.Button Link element
		button.Button Button element
		input(type="submit", value="Form submit").Button
