extends layout/default
block primary
	h3.DocTitle Primary Colors
	.Color.Color--primary-lighter $color-primary-lighter
	.Color.Color--primary-light $color-primary-light
	.Color.Color--primary $color-primary
	.Color.Color--primary-dark $color-primary-dark
	.Color.Color--primary-darker $color-primary-darker

	h3.DocTitle Secondary Colors
	.Color.Color--secondary-lighter $color-secondary-lighter
	.Color.Color--secondary-light $color-secondary-light
	.Color.Color--secondary $color-secondary
	.Color.Color--secondary-dark $clor-secondary-dark
	.Color.Color--secondary-darker $color-secondary-darker

	h3.DocTitle Neutral Colors
	.Color.Color--white $color-white
	.Color.Color--neutral-lighter $color-neutral-lighter
	.Color.Color--neutral-light $color-neutral-light
	.Color.Color--neutral $color-neutral
	.Color.Color--neutral-dark $color-neutral-dark
	.Color.Color--neutral-darker $color-neutral-darker
	.Color.Color--black $color-black

	h3.DocTitle Message Colors
	.Color.Color--message-info $color-message-info
	.Color.Color--message-success $color-message-success
	.Color.Color--message-warning $color-message-warning
	.Color.Color--message-error $color-message-error
