extends layout/default
block primary
	h3.DocTitle Primary Colors
	.Color.Color--primary-lighter Color-primary-lighter
	.Color.Color--primary-light Color-primary-light
	.Color.Color--primary Color-primary
	.Color.Color--primary-dark Color-primary-dark
	.Color.Color--primary-darker Color-primary-darker

	h3.DocTitle Secondary Colors
	.Color.Color--secondary-lighter Color-secondary-lighter
	.Color.Color--secondary-light Color-secondary-light
	.Color.Color--secondary Color-secondary
	.Color.Color--secondary-dark Color-secondary-dark
	.Color.Color--secondary-darker Color-secondary-darker

	h3.DocTitle Neutral Colors
	.Color.Color--neutral-lightest Color-neutral-lightest
	.Color.Color--neutral-lighter Color-neutral-lighter
	.Color.Color--neutral-light Color-neutral-light
	.Color.Color--neutral Color-neutral
	.Color.Color--neutral-dark Color-neutral-dark
	.Color.Color--neutral-darker Color-neutral-darker
	.Color.Color--neutral-darkest Color-neutral-darkest

	h3.DocTitle Message Colors
	.Color.Color--message-info Color-message-info
	.Color.Color--message-success Color-message-success
	.Color.Color--message-warning Color-message-warning
	.Color.Color--message-error Color-message-error
