extends layout/default.pug
block primary
	form.Form.Form--inline
		.Form-field
			label Username
			.Form-inputs
				input(type="text")
		.Form-field
			label Password
			.Form-inputs
				input(type="password")
		.Form-field
			.Form-inputs
				button(type="submit") Log in
