extends layout/default
block primary

	h3.DocTitle Img
	img(src="http://placehold.it/100x100")

	h3.DocTitle SVG
	svg(xmlns='http://www.w3.org/2000/svg', width='106', fill="none" height='106', viewbox='0 0 106 106')
		circle(id="Oval", stroke="#00A9DD", stroke-width="5", cx="53", cy="53", r="50")
		circle(id="Oval", stroke="#00DDBC", stroke-width="5", cx="53", cy="53", r="39")
		circle(id="Oval", stroke="#00DDA0", stroke-width="5", cx="53", cy="53", r="28")
		circle(id="Oval", stroke="#00DD34", stroke-width="5", cx="53", cy="53", r="17")

	h3.DocTitle Figure + Figcaption
	figure
		img(src="http://placehold.it/100x100")
		figcaption What a lovely picture

	h3.DocTitle Audio
	audio(controls)
		source(src="", type="")
		source(src="", type="")
		p Your browser does not support HTML5 audio

	h3.DocTitle Canvas
	canvas(width="106", height="106")
		p Your browser does not support HTML5 canvas		

	h3.DocTitle Video
	video(src="", controls)
		p Your browser does not support HTML5 video

	h3.DocTitle Noscript
	noscript Your browser does not support JavaScript
