extends layout/default.pug
block primary
	
	h3.DocTitle Neutral message
	.Message Some neutral message text containing
		a a link

	h3.DocTitle Informative message
	.Message.Message--info Some informative message text containing
		a a link

	h3.DocTitle Positive message
	.Message.Message--success Some positive message text containing
		a a link

	h3.DocTitle Ambiguous message
	.Message.Message--warning Some ambiguous message text containing
		a a link

	h3.DocTitle Negative message
	.Message.Message--error Some negative message text containing
		a a link
