extends layout/default.pug
block primary
	
	h3.DocTitle Neutral message
	.Message Some neutral message text containing
		a a link

	h3.DocTitle Informative message
	.Message.Message--informative Some informative message text containing
		a a link

	h3.DocTitle Positive message
	.Message.Message--positive Some positive message text containing
		a a link

	h3.DocTitle Ambiguous message
	.Message.Message--ambiguous Some ambiguous message text containing
		a a link

	h3.DocTitle Negative message
	.Message.Message--negative Some negative message text containing
		a a link
